@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.page-content {
    flex-grow: 1;
}

.page-title{
    font-family: 'Comfortaa', sans-serif, cursive;
}

.bg-black {
    background-color: #202020;
}
.bg-pink {
    background-color: #8a3978;
}

.bg-light-dark {
    background-color: #534141;
}

.bg-fake-rocketseat {
    background-color: #2E3047;
}

.bg-green {
    background-color: #5AA95A;
}

.main-title-align {
    padding: 75px 0px 75px 0px;
}

.br-solid{
    border-right: solid;
    border-width: 0.1em;
}

.bt-round {
    border-top-left-radius: 0.45em;
    border-top-right-radius: 0.45em;
}

.bb-round {
    border-bottom-left-radius: 0.45em;
    border-bottom-right-radius: 0.45em;
}


.alert-hidden{

    display: none;

}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    background: #202020;
    padding: 10px 15px;
    margin: 10px 15px;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
}

.product-title {
    text-align: center;
    padding-bottom: 15px;
}
.product-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
.product-image {
    width: auto;
    height: auto;
    padding-bottom: 15px;
}
.product-buy {
    margin-top: 15px;
    text-align: center;
}

.grid-admin {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 'AS AC';
    flex-grow: 1;
}

.admin-sidebar {
    grid-area: 'AS';
}
.admin-content {
    grid-area: 'AC';
    display: flex;
    flex-direction: column;
}

.admin-page {
    flex-grow: 1;
}

.admin-nav {
    padding-inline: 0;
    display: inline;
    list-style: none;
    list-style-position: unset;
}
.admin-nav-item {
    margin: 3px 15px;
    padding: 6px 12px;
    border-radius: 400px;
}

.admin-nav-item:hover {
    background-color: #202020;
}

.admin-nav-item-active {
    background-color: #454545;
}

input[type=text], select {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
.dropdown {
    float: left;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }