@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #3333; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:400px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.page-content {
    flex-grow: 1;
}

.page-title{
    font-family: 'Comfortaa', sans-serif, cursive;
}

.bg-black {
    background-color: #202020;
}
.bg-pink {
    background-color: #8a3978;
}

.bg-light-dark {
    background-color: #534141;
}

.bg-fake-rocketseat {
    background-color: #2E3047;
}

.bg-green {
    background-color: #5AA95A;
}

.main-title-align {
    padding: 75px 0px 75px 0px;
}

.br-solid{
    border-right: solid;
    border-width: 0.1em;
}

.bt-round {
    border-top-left-radius: 0.45em;
    border-top-right-radius: 0.45em;
}

.bb-round {
    border-bottom-left-radius: 0.45em;
    border-bottom-right-radius: 0.45em;
}


.alert-hidden{

    display: none;

}

.products-container {

    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.items-row-general{

    display: inline-flex;
    flex-wrap: wrap;
    width: 960px;
    margin-top: 20px;

}

.product {
    display: flex;
    flex-direction: column;
    background: #202020;
    padding: 10px 15px;
    margin: 10px 15px;
    width: 230px;
    height: 270px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.product-title {
    text-align: center;
    padding-bottom: 15px;
}
.product-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
.product-image {
    width: auto;
    height: auto;
    max-width: 86px;
    padding-bottom: 15px;
}
.product-buy {
    margin-top: 15px;
    text-align: center;
}

.grid-admin {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 'AS AC';
    flex-grow: 1;
}

.admin-sidebar {
    grid-area: 'AS';
}
.admin-content {
    grid-area: 'AC';
    display: flex;
    flex-direction: column;
}

.admin-page {
    flex-grow: 1;
    max-height: 750px;
    overflow-y: auto;
}

.admin-nav {
    padding-inline: 0;
    display: inline;
    list-style: none;
    list-style-position: unset;
}
.admin-nav-link {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 400px;
}

.admin-nav-item {
    margin: 3px 15px;
    padding: 6px 12px;
}

.admin-nav-link:hover {
    background-color: #202020;
    cursor: pointer;
}

.admin-nav-link-active {
    background-color: #454545;
}

/*input[type=text], select {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }*/

  .admin-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.admin-item {
    display: flex;
    flex-direction: column;
    background: #202020;
    padding: 10px 15px;
    margin: 10px 15px;
    width: 215px;
    height: 270px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.admin-item-title {
    text-align: center;
    padding-bottom: 15px;
}
.admin-item-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
.admin-item-image {
    width: auto;
    height: auto;
    max-width: 86px;
    padding-bottom: 15px;
}
.admin-item-control {
    margin-top: 15px;
    text-align: center;
}

.admin-input {
    border: none;
    background: transparent;
    color: #a1a1a1;
    width: 100%;
    padding: 6px 12px;
    border-bottom: #818181 2px solid;
    box-shadow: black 2px;
}

.admin-input:focus {
    border-bottom: #a1a1a1 2px solid;
    color: #a1a1a1;
    outline: none;
}



.admin-users-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.admin-user {
    display: flex;
    flex-direction: column;
    background: #202020;
    padding: 10px 15px;
    margin: 10px 15px;
    width: 180px;
    height: 270px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.admin-user-title {
    text-align: center;
}
.admin-user-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.admin-user-image {
    width: auto;
    height: auto;
    max-height: 96px;
    padding: 10px 5px;
}
.admin-user-control {
    text-align: center;
}

.admin-detail-item-list {
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.admin-detail-item-list:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

.admin-detail-item-list:hover {
    background-color: rgba(255, 255, 255, 0.15);
}