
<footer class="page-footer font-small blue pt-4 bg-dark">
    <div class="container">
    <div class="container-fluid text-center text-md-left">

      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Kudosu Revamp</h5>
          <p>Giving a usage to Kudosu as it's been gone since modding v1.</p>
        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
              <a href="/Store">Store</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Authors</h5>
          <ul class="list-unstyled">
            <li>
              <a href="https://osu.ppy.sh/users/3914271">Maot's Profile</a>
            </li>
            <li>
              <a href="https://osu.ppy.sh/users/2652951">Trynna's Profile</a>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="footer-copyright text-center py-3">
      Source code availble at <a href="https://github.com/maotovisk/kudosurevamp">Github</a>
    </div>

    </div>
  </footer>
