<%- contentFor('body') %><%- include('elements/navbar', {
    nav: {
        "items": [{"title": "Home", active: true}],
        "login": true
    }
    }); %>
    
<div class="container pt-100">
      <div class="jumbotron">
        <h1 class="display-5">Welcome, <%= user.username %> </h1>
        <p class="lead">You are authenticated.</p>
        <p>Total kudosu: <%= user.kudosu.total %></p>
      </div>
  </div>


