<%- contentFor('body') %>

<%- include('elements/navbar', {
    nav: {
        "items": [{"title": "Home", "active": true}],
        "login": false
    }
    }); %>
<div class="container mt-5">
  <div class="jumbotron pr-6 pl-6">
    <h1 class="display-5">Welcome to KudosuRevamp&trade;!</h1>
    <p class="lead">It is a simple system that uses kudosu as currency, you can earn titles, badges and a lot of other
      things, using your kudosu earned from modding on osu!.</p>
    <p>Please log-in with your osu! account to get started!.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button">Get started</a>
    </p>
  </div>
</div>