<%- contentFor('body') %>

<%- include('elements/navbar', {
    nav: {
        "items": [{"title": "Home", "active": true}],
        "login": false
    }
    }); %>
<div class="container mt-5">

  <div class="jumbotron pr-6 pl-6">

    <div class="d-flex justify-content-center ">

      <h1 class="display-5">Welcome to KudosuRevamp&trade;!</h1>

    </div>
    
    <div class="px-5">
    <p class="lead mt-5">To get started, go to the Store.</p>

    <p>Please log-in with your osu! account to get started!.</p>

    <p class="lead">

      <a class="btn btn-primary" href="/login" role="button">Get started</a>

    </p>
    </div>

  </div>

</div>