<%- contentFor('body') %>

<%- include('elements/navbar', {
    nav: {
        "items": [{"title": "Home", "active": true}],
        "login": false
    }
    }); %>
<div class="container page-content my-5">

  <div class="bg-dark bt-round py-3 px-3 text-center">
    <div class="d-flex justify-content-center">
      <h2 class="display-5">Welcome to KudosuRevamp&trade;!</h1>
    </div>

      <p>To get started, we need to verify your osu account.</p>
      <p>Please log-in with your osu! account to get started!.</p>
  </div>
  <div class="bb-round bg-fake-rocketseat py-3 px-3 text-center">

    <a class="btn btn-primary" href="/login" role="button">Get started</a>
  </div>

</div>