<%- contentFor('body') %><%- include('elements/navbar', {
    nav: {
        "items": [{"title": "Home","href": "/", "active": true}, {"title": "Store", "href": "/store"}, ((user.isAdmin) ? {"title": "Admin", "href": "/admin"} : {})],
        "login": true
    }
    }); %>

<div class="container my-5 page-content">

        <div class="d-flex bt-round justify-content-center mt-2 bg-green main-title-align">
                <h1 class="display-5 page-title">Getting Started</h1>
        </div>
        
        <div class="container">

            <div class="row pt-4 pb-4 bg-fake-rocketseat"> 

                <div class="col ml-4 br-solid">
                    <h4 class = "pb-3">Install the Extension</h2>
                    <p class="lead">To go through the full experience of the project, make sure to install the <a href="https://www.tampermonkey.net/">Tampermonkey&trade;</a> extension,
                    you will be able to insert our script on it. It will apply new cool things to the <a href="https://osu.ppy.sh">osu! site</a> </p>
                </div>
                <div class="col mr-4">
                    <h4 class = "pb-3">Download Script</h4>
                    <p class="lead">Once you've downloaded the extension, you should download our script.</p>
                    <a class="btn btn-primary" href="https://github.com/maotovisk/kudosurevamp/raw/master/scripts/kudosu.user.js">Install script</a>  
                </div>

            </div>

            <div class="row px-4 py-4 bg-dark">
                    <h4 class = "pb-3">Now Let's go to the Store</h4>
                    <p class="lead">

                        Once you have completed the steps above, we recommend you go to the Store so you can check cool stuff to add to your profile.

                    </p>
                </div>
                
                <div class="row bb-round px-4 pb-4 bg-dark d-flex justify-content-center">
                    <a class="btn btn-primary" href="/store">Go to Store</a>
                </div>

        </div>

</div>