<%- contentFor('body') %><%- include('elements/navbar', {
    nav: {
        "items": [{"title": "Home", active: true}],
        "login": true
    }
    }); %>
    <div class="container is-fluid">

        <div class="notification">
            Welcome <strong><%= user.username %></strong>!
        </div>

  </div>