<%- contentFor('body') %><%- include('elements/navbar', {
    nav: {
        "items": [{"title": "Home", "href": "/"}, {"title": "Store", "active": true}],
        "login": true
    }
    }); %>

<div class="container mt-5">
    <div class="jumbotron pr-3 pr-3">
        <p class="lead">You have <%= user.kudosu.available %> kudosu available.</p>
    </div>
</div>