<%- contentFor('body') %><%- include('elements/navbar', {
    nav: {
        "items": [{"title": "Home", "href": "/"}, {"title": "Store", "active": true}, ((user.isAdmin) ? {"title": "Admin", "href": "/admin"} : {})],
        "login": true
    }
    }); %>

<div class="container my-5 page-content">
    <div class="alert alert-hidden" id="alert" role="alert">
    </div>
    <div>

        <div class="bg-pink bt-round">
            <h2 class="mb-0 py-4 px-4 page-title">Store</h2>
        </div>

        <div class="d-flex justify-content-center  mt-0 bg-light-dark px-1 py-2">
            <span>You have <%= user.kudosu.available %> kudosu available.</span>
        </div>

        <div class="bg-dark bb-round px-1 py-2">
            <div class="products">
                <div class="controls">

                    <!-- todo -->
                    
                </div>

                <div class="products-list">

                </div>

            </div>
        </div>
    </div>
</div>

<script>
    let items = [];
    fetch("/api/item", {
        method: 'GET'
    }).then((response) => {
        return response.text();
    }).then(async (json) => {
        fetch("/api/user/<%-user.userId %>", {
            method: 'GET'
        }).then((response2) => {
            return response2.text();
        }).then(async (user) => {
            let jsonItems = JSON.parse(json);
            let jsonUser = JSON.parse(user);
            items = jsonItems;
            for (item of jsonItems) {
                $(".products-list").append(`

                    <div id='${item._id}' class='product'>

                        <div class='product-description col'>
                            
                            <div class='product-title'> 
                            ${item.title}
                            </div>

                            <div>
                            <img class='product-image' src=' ${item.image_url}'/>
                            </div> 
                        
                        </div> 

                        <div class='col'>

                        <div>
                            Unlock at ${item.price} kudosu
                        </div> 

                        <div class='product-buy'>

                                ${((jsonUser.items
                                .find((a) => a.title == item.title) == undefined) ? (
                                ((jsonUser.kudosu.availble > item.price) ? `<button class='btn btn-danger button-buy' id='button-buy' onclick='buyItem( \"${item._id}\")' data-origin='${item._id}'>Unlock</button>`
                                : "<btn class='btn btn-primary disabled'>Not enough kudosu</btn>")) :
                                `<btn class='btn btn-primary disabled'>Already Unlocked</btn>`)}
                                
                        </div> 

                    </div>`);
            }
        })
    });
    const buyItem = (e) => {
        let productId = e;
        let clickedButton = $("button[data-origin='" + e + "']");
        let headers = new Headers();
        let hostname = window.location.protocol;

        let loading = `<span class="material-icons">refresh</span>`;
        clickedButton.html(loading);
        console.log(productId);
        fetch(`${hostname}/api/item/buy/${productId}`, {
                method: "POST",
                headers: headers
            })
            .then(function (res) {
                return res.json();
            })
            .then(function (data) {
                console.log(data);
                if (data.error) {
                    $("#alert").text("Something went wrong!");
                    $("#alert").addClass("alert-danger");
                    $("#alert").removeClass("alert-hidden");
                    clickedButton.text("Unlock");
                } else {
                    $("#alert").text("You have unlocked the item '" + items.find((a) => a._id == productId)
                        .title + "'.");
                    $("#alert").addClass("alert-success");
                    $("#alert").removeClass("alert-hidden");
                    clickedButton.text("Already Unlocked");
                    clickedButton.addClass("disabled");
                    clickedButton.removeClass("btn-danger")
                    clickedButton.addClass("btn-primary");
                    clickedButton.removeAttr("onclick");
                }
            }).catch((e) => {
                console.log(e)
                $("#alert").text("Something went wrong!");
                $("#alert").addClass("alert-danger");
                $("#alert").removeClass("alert-hidden");
            });
    };
</script>