<%- contentFor('body') %><%- include('elements/navbar', {
    nav: {
        "items": [{"title": "Home", "href": "/"}, {"title": "Store", "active": true}],
        "login": true
    }
    }); %>

<div class="container mt-5">
    <div class="jumbotron pr-3 pr-3">
        <p class="lead">You have <%= user.kudosu.available %> kudosu available.</p>
    </div>
    <div class="products">
        <div class="controls">

        </div>
        <div class="products-list">

        </div>
    </div>
</div>
<script>        
fetch("/api/item", {method: 'GET'}).then((response)=> {return response.text();
}).then(function(json) {
    let jsonItems = JSON.parse(json);
    console.log(json)
    for (item of jsonItems) {
        $(".products-list").append("<div class='product'>" + item.title +"<img class='product-image' src='"+ item.image_url +"'> </img> </div>");
    }
});
            
</script>