<%- contentFor('body') %>
<%- include('../elements/navbar', {
    nav: {
        "items": [{"title": "Home","href": "/"}, {"title": "Store", "href": "/store"}, {"title": "Admin", "href": "/admin", "active": true} ],
        "login": true
    }
}); %>

<div class="container my-5 page-content">
    <div class="d-flex justify-content-center  mt-2 bg-light-dark px-1 py-2 bt-round">
        <span>Admin Panel</span>
    </div>
    <div class="bg-dark px-1 py-2 bb-round">
        <div class="alert alert-hidden mt-1" id="alert-top" role="alert"></div>
        <div class="grid-admin">

            <div class="admin-sidebar">
                <ul class="admin-nav">
                    <li class="admin-nav-item ">
                        <a id="admin-nav-items" class="admin-nav-link"><span class="material-icons">
                            category
                            </span><span class="pl-2">Items</span></a>
                    </li>
                    <li class="admin-nav-item "><a id="admin-nav-users" class="admin-nav-link"><span class="material-icons">
                        recent_actors
                        </span><span class="pl-2">Users</span></a></li>
                </ul>
                
                

            </div>

            <div class="admin-content">

                <div class="admin-controller">

                </div>

                <div class="py-1 px-2 admin-page admin-item-list">

                </div>

            </div>

        </div>

    </div>

</div>
<script src="/js/admin/start.js"></script>
<script src="/js/admin/createItem.js"></script>
<script src="/js/admin/updateItem.js"></script>
<script src="/js/admin/deleteItem.js"></script>