<%- contentFor('body') %>
<%- include('../elements/navbar', {
    nav: {
        "items": [{"title": "Home","href": "/"}, {"title": "Store", "href": "/store"}, {"title": "Admin", "href": "/admin", "active": true} ],
        "login": true
    }
}); %>

<div class="container my-5 page-content">
    <div class="d-flex justify-content-center  mt-2 bg-light-dark px-1 py-2 bt-round">
        <span>Admin Panel</span>
    </div>
    <div class="bg-dark bb-round px-1 py-2">
        <div class="grid-admin">
            <div class="admin-sidebar">
                <ul class="admin-nav">
                    <li class="admin-nav-item admin-nav-item-active">Test</li>
                    <li class="admin-nav-item">Test</li>
                    <li class="admin-nav-item">Test</li>
                    <li class="admin-nav-item">Test</li>
                </ul>
        
            </div>
            <div class="admin-content">
                <div class="admin-controller">
                </div>
                <div class="py-1 px-2 admin-page">
                    <h5>Admin </h5>
                </div>
            </div>
        </div>
    </div>
</div>