<%- contentFor('body') %>
<%- include('../elements/navbar', {
    nav: {
        "items": [{"title": "Home","href": "/"}, {"title": "Store", "href": "/store"}, {"title": "Admin", "href": "/admin", "active": true} ],
        "login": true
    }
}); %>

<div class="container my-5 page-content">
    <div class="d-flex justify-content-center  mt-2 bg-light-dark px-1 py-2 bt-round">
        <span>Admin Panel</span>
    </div>
    <div class="bg-dark px-1 py-2">
        <div class="alert alert-hidden mt-1" id="alert-top" role="alert"></div>
        <div class="grid-admin">

            <div class="admin-sidebar">
                <ul class="admin-nav">
                    <li class="admin-nav-item "><a id="admin-nav-items" class="admin-nav-link">Items</a></li>
                    <li class="admin-nav-item "><a id="admin-nav-users" class="admin-nav-link">Users</a></li>
                    <li class="admin-nav-item "><button class='btn btn-success button-buy mt-5' id='button-buy' onclick='createItem()' data-origin='${item._id}'>Create Item</button></li>
                </ul>
                
                

            </div>
            <div class="admin-content">

                <div class="admin-controller">

                </div>
                <div class="py-1 px-2 admin-page admin-item-list">

                </div>

            </div>
        </div>
    </div>

    <div class="bb-round container px-4 bg-fake-rocketseat">
        <div class="alert alert-hidden mt-1" id="alert" role="alert">
        </div>
        <form action="" id="createItemForm" class="container">

            <h3 class="pt-4">Create Item</h3>

            <div class="row">

                <div class="col-4">
                    <label for="item_name">Item Name</label>
                    <input class="admin-input" type="text" id="item_name" name="item_name" placeholder="Item Name">
                </div>

                <div class="col-2">
                    <label for="price">Price</label>
                    <input class="admin-input" type="text" id="price" name="price" placeholder="500">
                </div>

                <div class="col-6">
                    <label for="image_url">Image URL</label>
                    <input class="admin-input" type="text" id="image_url" name="image_url" placeholder="https://seto.kousuke/nat.jpg">
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-2">
                    <label for="user_role">User Role (Number)</label>
                    <input class="admin-input" type="text" id="user_role" name="user_role" placeholder="2">
                </div>

                <div class="col-4">
                    <label for="coin_type">Coin Type</label>
                    <select class="admin-input" id="coin_type" name="coin_type">
                        <option value="select">Select Option</option>
                        <option value="kudosu">Kudosu</option>
                        <option value="qactivity">QActivity</option>
                    </select>
                </div>

                <div class="col-6 d-flex align-text-bottom d-flex align-items-center justify-content-center">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="consumable" name="consumable">
                        <label class="custom-control-label" for="consumable">Is it consumable?</label>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center bb-round px-4 pb-4 d-flex">

                <input class="btn btn-primary mt-4 px-4" type="submit" value="Create Item">

            </div>

            <div class="error-class row justify-content-center bb-round px-4 pb-4 d-flex flex-column text-center">

                <!--- javascript append -->

            </div>

        </form>

    </div>

</div>

<script src="../../../static/createItem.js"></script>
<script src="../../../static/updateItem.js"></script>
<script src="../../../static/deleteItem.js"></script>

<script>
    let items = null;
    let users = null;

    const getItemList = async () => {
        $(".admin-nav-link").removeClass("admin-nav-link-active")
        $("#admin-nav-items").addClass("admin-nav-link-active");
        let itemsResponse = await fetch("/api/item", {
            method: 'GET'
        });
        items = itemsResponse.text();
        items.then(value => {
            console.log(value)
            items = JSON.parse(value); 
            $(".admin-controller").html(`<div class="mx-3 my-1"> <input id="item-search" class="admin-input" type="text" placeholder="Search" aria-label="Search"></div>`);  
            $("#item-search").keyup(function() {
                renderList("item", ".admin-page", items.filter((x) => x.title.toLowerCase().includes($(this).val())));
            })
            renderList("item", ".admin-page", JSON.parse(value));
        })
    }

    //UNUSED YET
    const getUserList = async () => {
        $(".admin-nav-link").removeClass("admin-nav-link-active")
        $("#admin-nav-users").addClass("admin-nav-link-active");
        let usersResponse = await fetch("/api/user", {
            method: 'GET'
        });

        users = usersResponse.text();

        users.then(value => {
            console.log(value)
            users = JSON.parse(value); 
            $(".admin-controller").html(`<div class="mx-3 my-1"> <input id="user-search" class="admin-input" type="text" placeholder="Search" aria-label="Search"></div>`);  
            $("#user-search").keyup(function() {
                renderList("user", ".admin-page", users.filter((x) => x.username.toLowerCase().includes($(this).val().toLowerCase())));
            })
            renderList("user", ".admin-page", JSON.parse(value));
        })
    }
    $(document).ready(getItemList);

    $("#admin-nav-items").click(getItemList);
    $("#admin-nav-users").click(getUserList);

    // render funciton
    function renderList(type, element, json) {
        if (json == undefined)
            json = [];
        if (type == "item")  {
            $(element).html("");

            let rowNumber = 0;
            let firstRun = true;
            let itemsCount = 0;

            for (item of json) {

                itemsCount++

                if(itemsCount >= 4 || firstRun){
                    
                    itemsCount = 0, firstRun = false;
                    rowNumber++

                    $(element).append(`

                        <div class="w-100 items-row-general items-row-${rowNumber}">

                        </div>

                    `);

                }

                $(`.items-row-${rowNumber}`).append(`

                    <div id='${item._id}' class='admin-item'>
                        <div class='admin-item-description'>      
                            <div class='admin-item-title'> 
                                ${item.title}
                            </div>

                            <div>
                                <img class='admin-item-image' src=' ${item.image_url}'/>
                            </div> 

                            <div>
                                Price: ${item.price} kudosu
                            </div> 
                        
                        </div> 

                        <div class='admin-item-control'>

                            <button class='btn btn-danger button-buy' id='button-buy' onclick='deleteItem( \"${item._id}\")' data-origin='${item._id}'>Delete</button>
                            <button class='btn btn-success button-buy' id='button-buy' onclick='editItem( \"${item._id}\")' data-origin='${item._id}'>Update</button>
                                   
                        </div> 

                    </div>`);
            }
        } 
        if (type == "user") {
            $(element).html("");

            let rowNumber = 0;
            let firstRun = true;
            let itemsCount = 0;

            for (user of json) {

                itemsCount++

                if(itemsCount >= 4 || firstRun){
                    
                    itemsCount = 0, firstRun = false;
                    rowNumber++

                    $(element).append(`

                        <div class="w-100 items-row-general items-row-${rowNumber}">

                        </div>

                    `);

                }

                $(`.items-row-${rowNumber}`).append(`

                    <div id='${user._id}' class='admin-user'>
                        <div class='admin-user-description'>      
                            <div class='admin-user-title'> 
                                ${user.username}
                            </div>

                            <div>
                                <img class='admin-user-image' src='https://a.ppy.sh/${user.osu_id}'/>
                            </div> 

                            <div>
                                <p>${user.kudosu.total} total kudosu </p>
                                <p> Items: ${user.items.length} </p>
                            </div> 
                        
                        </div> 

                        <div class='admin-user-control'>

                            <button class='btn btn-secondary button-buy' id='button-buy' onclick='detailUser( \"${user._id}\")' data-origin='${user._id}'>Details</button>
                                 
                        </div> 

                    </div>`);
            }
        }
    }

</script>